@import 'tailwindcss';

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@theme {
	--animate-wiggle: wiggle 0.1s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: translateY(-3px);
		}
		50% {
			transform: translateY(3px);
		}
	}
}

#root {
	height: 100vh;
	width: 100vw;
}
